<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<title>{% block title %}{% endblock %}</title>

	{% block script %}{% endblock %}

</head>

<body>
	<style type="text/css">
	input {
		width: 100%;
	}

</style>

	{% block content %}
	{% endblock %}


</body>

</html>
